html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    
}
header {
    background: #24a19c;
    padding: 0% 1%;
    text-align: center;
    
}
.logo {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
}
.navbar-nav li a{
    word-spacing: normal;
    line-height: 70px;
    padding: 0 20px;
    transition: .4s;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
}
.navbar-nav li a:hover{
    text-decoration: underline;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
   
}
#banner-section {
    background-image: url("images/banner-image.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-contents {
    padding: 50px 10px;
    text-align: center;
}
.banner-contents h1 {
    width: 50%;
    margin: 15px auto;
    font-size: 3rem;
    background: rgba(255, 255, 0, 0.884);
    padding: 10px;
    border-radius: 5px;
    font-family: 'Handlee', cursive;
}
.banner-contents p {
    width: 390px;
    margin: 15px auto;
    background: rgb(0, 128, 0);
    padding: 10px;
    font-size: 1.5rem;
    color: white;
}
.btn {
    width: 180px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    background: rgb(0, 128, 0);
    color: white;
    text-transform: uppercase;
    transition: .4s;
}
.btn:hover {
    transform: scale(1.2);
}
#about-us {
    padding: 1%;
}
.about-us-contents {
    text-align: center;
}
.about-us-contents h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bolder;
}
.about-us-contents p {
    font-size: 0.8rem;
    margin-bottom: 10px;
}
#menu-section {
    padding: 1%;
}
.card-body {
    text-align: center;
}
.card-body img {
    max-width: 100%;
    height: auto;
    display: block;
}
.item-desc {
    background: rgb(165, 164, 164);
}
.item-name {
    background: green;
    color: white;
    padding: 10px;
}
.item-desc>p {
    font-size: 0.8rem;
    padding: 10px;
    font-weight: bold;
}
.card{
    transition: .4s;
}
.card:hover{
    transform: scale(1.1);
}
/* contact section starts here  */
#contact-section {
    padding: 1%;
    background: #595b83;
}
.contact-details {
    color: white;
    text-align: center;
    padding: 20px 0;
}
.map {
    width: 100%;
    height: 250px;
}
.contact-details p,
address {
    font-size: 0.8rem;
}
/* contact section ends here  */
/* footer starts here  */
footer {
    background: #060930;
    padding: 1%;
    color: white;   
}
footer p {
    font-size: 0.8rem;
    line-height: 32px;
    text-align: center;
}
.social-menus{
    text-align: center;
}
.icon-style {
    color: white;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 10px;
    transition: .4s;
    text-align: center;
}
.icon-style:hover{
    background-color: grey;
    transform: scale(1.2);
}

/* footer ends here  */